@page "/"

    <div class="content">
        <h2>Welcome to Azure Cognitive Services Explorer!</h2>
        This app is a client-side Blazor application using WebAssembly.
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qF6ixMjCzHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>